<% configuration[:menu].each do |key, config| %>
<% ctrl = "/curation_concerns/admin" %>
<% ctrl += '/' + config[:controller] if config.key? :controller %>
<% action = configuration[:actions][key][:action] || key %>
  <li>
    <%= link_to t("curation_concerns.dashboard.menu.#{key}"), curation_concerns.url_for(controller: ctrl, action: action, only_path: true), class: action_name == key ? 'selected' : ''%>
  </li>
<% end %>
